<%- layout('layout/boilerplate') %>

<div class="container py-5 mx-auto">
  <div class="text-center">
    <h1 class="display-4">MovieSearcher</h1>
    <!-- <div class="formed"> -->
      <form
      class="mx-auto my-3"
        action="/result"
        method="get"
        style="width: 50%"
      >
        <div class="form-group mb-2">
          <input
            type="text"
            class="form-control"
            name="search"
            placeholder="Type a Movie name"
          />
        </div>
        <button class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>
</div>
