h1 {
  text-align: center;
  margin: 50px 0;
  font-weight: 600;
}
.row {
  padding: 0%;
}
.poster {
  width: 150px;
  margin-bottom: 20px;
  text-align: center;
}
.viewposter {
  width: 100%;
}

.formed {
  text-align: center;
}

p {
  text-align: center;
}

input[type="text"] {
  width: 250px;
}

.container {
  margin-top: 50px;
}
